<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id="userDao" class="springframework.beans.UserDao"></bean>

    <bean id="userService" class="springframework.beans.UserService">
        <property name="uId" value="10001"></property>
        <property name="company" value="腾讯"></property>
        <property name="location" value="深圳"></property>
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean class="springframework.common.MyBeanFactoryPostProcessor"/>
    <bean class="springframework.common.MyBeanPostProcessor"/>
</beans>